version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: ${{ secrets.DOCKER_USERNAME }}/kittygram_backend:latest
    env_file: .env
    volumes:
      - static:/app/static/
      - media:/app/media/
    depends_on:
      - postgres

  frontend:
    image: ${{ secrets.DOCKER_USERNAME }}/kittygram_frontend:latest
    volumes:
      - static:/frontend_static/

  gateway:
    image: ${{ secrets.DOCKER_USERNAME }}/kittygram_gateway:latest
    ports:
      - "9000:80"
    volumes:
      - static:/static/
      - media:/media/
    depends_on:
      - backend
      - frontend