version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: <dockerhub_username>/kittygram_backend
    env_file: .env
    volumes:
      - static:/app/static/
      - media:/app/media/
    depends_on:
      - postgres

  frontend:
    image: <dockerhub_username>/kittygram_frontend
    volumes:
      - static:/frontend_static/

  gateway:
    image: <dockerhub_username>/kittygram_gateway
    ports:
      - "9000:80"
    volumes:
      - static:/static/
      - media:/media/
    depends_on:
      - backend
      - frontend

