version: '3' 
 
volumes: 
  pg_data: 
  backend_static:
  frontend_static:  
  media: 
 
services: 
  postgres: 
    image: postgres:13 
    env_file: _env.example 
    volumes: 
      - pg_data:/var/lib/postgresql/data 
 
  backend: 
    image: r0m43k/kittygram_backend:latest 
    env_file: _env.example 
    volumes: 
      - backend_static:/app/collected_static 
      - media:/app/media
    depends_on: 
      - postgres 
 
  frontend: 
    image: r0m43k/kittygram_frontend:latest 
    volumes: 
      - frontend_static:/app/build/ 
 
  gateway: 
    image: r0m43k/kittygram_gateway:latest 
    ports: 
      - "80:80" 
    volumes: 
      - backend_static:/static/
      - frontend_static:/usr/share/nginx/html/
      - media:/media/ 
    depends_on: 
      - backend 
      - frontend 
